USE [Beanfamily]
GO
/****** Object:  Table [dbo].[ApDungChucNangChoQuyenTaiKhoan]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApDungChucNangChoQuyenTaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_chucnanghethongbean] [int] NOT NULL,
	[id_quyentaikhoanbean] [int] NOT NULL,
	[chophepthem] [bit] NOT NULL,
	[chophepsua] [bit] NOT NULL,
	[chophepxoa] [bit] NOT NULL,
 CONSTRAINT [PK_ApDungChucNangChoQuyenTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CacBuocQuyTrinhTrongCay]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CacBuocQuyTrinhTrongCay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_quytrinhtrongcay] [int] NOT NULL,
	[sobuoc] [nvarchar](max) NOT NULL,
	[motabuoc] [nvarchar](max) NULL,
	[hinhanh] [nvarchar](max) NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
 CONSTRAINT [PK_CacBuocQuyTrinhTrongCay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangMuaSamVaMenuHangNgay]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangMuaSamVaMenuHangNgay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_donhangmuasamvamenuhangngay] [int] NOT NULL,
	[id_sanphammuasam] [int] NULL,
	[id_sanphamthucdonhangngay] [int] NULL,
	[hinhanh] [nvarchar](max) NULL,
	[video] [nvarchar](max) NULL,
	[tensanpham] [nvarchar](200) NOT NULL,
	[gia] [money] NOT NULL,
	[soluong] [int] NOT NULL,
	[ghichu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietDonHangMuaSamVaMenuHangNgay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucNangHeThongBean]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucNangHeThongBean](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenchucnang] [nvarchar](200) NOT NULL,
	[hiethi] [bit] NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[keycode] [varchar](50) NULL,
 CONSTRAINT [PK_ChucNangHeThongBean] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucMenuBuffetCap1]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucMenuBuffetCap1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sothutu] [int] NOT NULL,
	[tendanhmuc] [nvarchar](200) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[hienthi] [bit] NOT NULL,
 CONSTRAINT [PK_DanhMucMenuBuffetCap1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucMenuTiecBanCap1]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucMenuTiecBanCap1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sothutu] [int] NOT NULL,
	[tendanhmuc] [nvarchar](200) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[hienthi] [bit] NOT NULL,
 CONSTRAINT [PK_DanhMucMenuTiecBanCap1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucPhucVuMenuTiecBanVaMenuBuffet]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucPhucVuMenuTiecBanVaMenuBuffet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sothutu] [int] NOT NULL,
	[tendanhmuc] [nvarchar](200) NOT NULL,
	[gia] [money] NOT NULL,
	[giatheosoban] bit NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[hienthi] [bit] NOT NULL,
	[apdungmenutiecban] bit NOT NULL,
	[apdungmenubuffet] bit NOT NULL,
 CONSTRAINT [PK_DanhMucPhucVuMenuTiecBanVaMenuBuffet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSanPhamMuaSamCap1]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPhamMuaSamCap1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sothutu] [int] NOT NULL,
	[tendanhmuc] [nvarchar](200) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[hienthi] [bit] NOT NULL,
 CONSTRAINT [PK_DanhMucSanPhamMuaSamCap1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSanPhamRauNhaTrongCap1]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPhamRauNhaTrongCap1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sothutu] [int] NOT NULL,
	[tendanhmuc] [nvarchar](200) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[hienthi] [bit] NOT NULL,
 CONSTRAINT [PK_DanhMucSanPhamRauNhaTrongCap1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucThucDocHangNgayCap1]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucThucDocHangNgayCap1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sothutu] [int] NOT NULL,
	[tendanhmuc] [nvarchar](200) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[hienthi] [bit] NOT NULL,
 CONSTRAINT [PK_DanhMucThucDocHangNgay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangMuaSamVaMenuHangNgay]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangMuaSamVaMenuHangNgay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_taikhoankhkachhang] [int] NOT NULL,
	[hoten] [nvarchar](200) NOT NULL,
	[dienthoai] [nvarchar](12) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[diachi] [nvarchar](max) NOT NULL,
	[ngaydat] [datetime] NOT NULL,
	[hinhthucthanhtoan] [nvarchar](200) NOT NULL,
	[tinhtrangdonhang] [nvarchar](50) NOT NULL,
	[ghichu] [nvarchar](max) NULL,
	[yeucaukhac] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonHangMuaSamVaMenuHangNgay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_taikhoankhachhang] [int] NOT NULL,
	[id_sanphamraunhatrong] [int] NULL,
	[id_sanphamthucdonhangngay] [int] NULL,
	[id_sanphammuasam] [int] NULL,
	[soluong] [int] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuSuaDoiSanPhamMenuBuffet]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuSuaDoiSanPhamMenuBuffet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sanphammenubuffet] [int] NOT NULL,
	[tieude] [nvarchar](200) NOT NULL,
	[noidung] [nvarchar](max) NOT NULL,
	[thoigian] [datetime] NOT NULL,
	[id_taikhoanbean] [int] NOT NULL,
 CONSTRAINT [PK_LichSuSuaDoiSanPhamMenuBuffet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuSuaDoiSanPhamMenuTiecBan]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuSuaDoiSanPhamMenuTiecBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sanphammenutiecban] [int] NOT NULL,
	[tieude] [nvarchar](200) NOT NULL,
	[noidung] [nvarchar](max) NOT NULL,
	[thoigian] [datetime] NOT NULL,
	[id_taikhoanbean] [int] NOT NULL,
 CONSTRAINT [PK_LichSuSuaDoiSanPhamMenuTiecBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuSuaDoiSanPhamMuaSam]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuSuaDoiSanPhamMuaSam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sanphammuasam] [int] NOT NULL,
	[tieude] [nvarchar](200) NOT NULL,
	[noidung] [nvarchar](max) NOT NULL,
	[thoigian] [datetime] NOT NULL,
	[id_taikhoanbean] [int] NOT NULL,
 CONSTRAINT [PK_LichSuSuaDoiSanPhamMuaSam] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuSuaDoiSanPhamRauNhaTrong]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuSuaDoiSanPhamRauNhaTrong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sanphamraunhatrong] [int] NOT NULL,
	[tieude] [nvarchar](200) NOT NULL,
	[noidung] [nvarchar](max) NOT NULL,
	[thoigian] [datetime] NOT NULL,
	[id_taikhoanbean] [int] NOT NULL,
 CONSTRAINT [PK_LichSuSuaDoiSanPhamRauNhaTrong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuSuaDoiSanPhamThucDonHangNgay]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuSuaDoiSanPhamThucDonHangNgay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sanphamthucdonhangngay] [int] NOT NULL,
	[tieude] [nvarchar](200) NOT NULL,
	[noidung] [nvarchar](max) NOT NULL,
	[thoigian] [datetime] NOT NULL,
	[id_taikhoanbean] [int] NOT NULL,
 CONSTRAINT [PK_LichSuSuaDoiSanPhamThucDonHangNgay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MangXaHoi]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangXaHoi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[logo] [nvarchar](max) NOT NULL,
	[tenmangxahoi] [nvarchar](200) NOT NULL,
	[lienketmangxahoi] [nvarchar](max) NOT NULL,
	[hienthi] [bit] NOT NULL,
	[id_taikhoanbean] [int] NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
 CONSTRAINT [PK_MangXaHoi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiDungSEO]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiDungSEO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SEOtitle] [nvarchar](max) NULL,
	[SEOkeyword] [nvarchar](max) NULL,
	[SEOdescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_NoiDungSeo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyenTaiKhoanBean]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenTaiKhoanBean](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
 CONSTRAINT [PK_QuyenTaiKhoanBean] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyTrinhTrongCay]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyTrinhTrongCay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenquytrinhtrongcay] [nvarchar](200) NOT NULL,
	[video] [nvarchar](max) NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[luotxem] [decimal](18, 0) NOT NULL,
	[hienthi] [bit] NOT NULL,
 CONSTRAINT [PK_QuyTrinhTrongCay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamMenuBuffet]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamMenuBuffet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_danhmucmenubuffetcap1] [int] NOT NULL,
	[sothutu] [int] NOT NULL,
	[hinhanh] [nvarchar](max) NULL,
	[tensanpham] [nvarchar](200) NOT NULL,
	[hienthi] [bit] NOT NULL,
 CONSTRAINT [PK_SanPhamMenuBuffet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamMenuTiecBan]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamMenuTiecBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_danhmucmenutiecbancap1] [int] NOT NULL,
	[sothutu] [int] NOT NULL,
	[hinhanh] [nvarchar](max) NULL,
	[tensanpham] [nvarchar](200) NOT NULL,
	[gia] [money] NOT NULL,
	[hienthi] [bit] NOT NULL,
 CONSTRAINT [PK_SanPhamMenuTiecBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamMuaSam]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamMuaSam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_danhmucmuasamcap1] [int] NOT NULL,
	[hinhanh] [nvarchar](max) NULL,
	[video] [nvarchar](max) NULL,
	[tensanpham] [nvarchar](200) NOT NULL,
	[mota] [nvarchar](max) NULL,
	[luotxem] [decimal](18, 0) NOT NULL,
	[hienthi] [bit] NOT NULL,
 CONSTRAINT [PK_SanPhamMuaSam] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamRauNhaTrong]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamRauNhaTrong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_danhmucsanphamraunhatrongcap1] [int] NOT NULL,
	[id_quytrinhtrongcay] [int] NULL,
	[hinhanh] [nvarchar](max) NULL,
	[video] [nvarchar](max) NULL,
	[tensanpham] [nvarchar](200) NOT NULL,
	[giatritrendonvi] [decimal](12, 2) NOT NULL,
	[gia] [money] NOT NULL,
	[mota] [nvarchar](max) NULL,
	[luotxem] [decimal](18, 0) NOT NULL,
	[hienthi] [bit] NOT NULL,
	[donvi] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_SanPhamRauNhaTrong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamThucDonHangNgay]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamThucDonHangNgay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_danhmucthucdonhangngaycap1] [int] NOT NULL,
	[hinhanh] [nvarchar](max) NULL,
	[video] [nvarchar](max) NULL,
	[tensanpham] [nvarchar](200) NOT NULL,
	[gia] [money] NOT NULL,
	[mota] [nvarchar](max) NULL,
	[luotxem] [decimal](18, 0) NOT NULL,
	[hienthi] [bit] NOT NULL,
	[conhang] [bit] NOT NULL,
 CONSTRAINT [PK_SanPhamThucDonHangNgay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanBean]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanBean](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](200) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[hovaten] [nvarchar](200) NULL,
	[sodienthoai] [nvarchar](12) NULL,
	[email] [nvarchar](200) NULL,
	[ngaysinh] [nvarchar](10) NULL,
	[gioitinh] [nvarchar](10) NULL,
	[diachi] [nvarchar](max) NULL,
	[id_quyentaikhoanbean] [int] NOT NULL,
	[chucdanh] [nvarchar](200) NULL,
	[ngaythamgia] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[khoataikhoan] [bit] NOT NULL,
	[solansaimatkhautoida] [int] NOT NULL,
	[solandasaimatkhau] [int] NOT NULL,
	[hinhdaidien] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaiKhoanBean] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanKhachHang]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanKhachHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](200) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[hovaten] [nvarchar](200) NULL,
	[sodienthoai] [nvarchar](12) NULL,
	[email] [nvarchar](200) NULL,
	[ngaysinh] [nvarchar](10) NULL,
	[gioitinh] [nvarchar](10) NULL,
	[diachi] [nvarchar](max) NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[hinhdaidien] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaiKhoanKhachHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinChung]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinChung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[diachi] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[hotline] [nvarchar](max) NULL,
	[zalo] [nvarchar](max) NULL,
	[website] [nvarchar](max) NULL,
	[coppyright] [nvarchar](max) NULL,
	[fanpage] [nvarchar](max) NULL,
	[toadogooglemap] [nvarchar](max) NULL,
	[linkchiduong] [nvarchar](max) NULL,
	[toadogooglemapiframe] [nvarchar](max) NULL,
	[googleanalyst] [nvarchar](max) NULL,
	[googlewebmastertool] [nvarchar](max) NULL,
	[headjs] [nvarchar](max) NULL,
	[bodyjs] [nvarchar](max) NULL,
	[tieude] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThongTinChung] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrangDonHangMuaSamVaMenuHangNgay]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangDonHangMuaSamVaMenuHangNgay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_donhangmuasamvathucdonhangngay] [int] NOT NULL,
	[id_taikhoanbean] [int] NOT NULL,
	[tieude] [nvarchar](200) NOT NULL,
	[noidung] [nvarchar](max) NOT NULL,
	[thoigian] [datetime] NOT NULL,
	[hinhanh] [nvarchar](max) NULL,
 CONSTRAINT [PK_TinhTrangDonHangMuaSamVaMenuHangNgay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKhoSanPham]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKhoSanPham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sanphammuasam] [int] NOT NULL,
	[tenloai] [nvarchar](200) NOT NULL,
	[soluong] [int] NOT NULL,
	[gia] [money] NOT NULL,
 CONSTRAINT [PK_TonKhoSanPham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangMenuTiecBan]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangMenuTiecBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[madonhang] [nvarchar] (200) NULL, /* định dạng MTB + id + mmHHddmmYYYY*/
	[ngaytao] [datetime] NOT NULL,
	[trangthai] [nvarchar](200) NOT NULL, /* new, accepted, cancel, pending (Chờ thanh toán), successful */
	[soban] int NOT NULL,
	[hoten] [nvarchar](200) NOT NULL,
	[sdt] [nvarchar](12) NOT NULL,
	[email] [nvarchar](max) NULL,
	[ngaybatdau] [datetime] NOT NULL,
	[giobatdau] [nvarchar](10) NOT NULL,
	[ghichukhachhang] [nvarchar](200) NULL,
	[ghichuquantrivien] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonHangMenuTiecBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangSanPhamMenuTiecBan]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangSanPhamMenuTiecBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_donhangmenutiecban] [int] NOT NULL,
	[id_sanphammenutiecban] [int] NOT NULL,
	[hinhanh] [nvarchar](max) NULL,
	[tensanpham] [nvarchar](200) NOT NULL,
	[gia] [money] NOT NULL,
 CONSTRAINT [PK_DonHangSanPhamMenuTiecBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangDanhMucPhucVu]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangDanhMucPhucVuMenuTiecBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_donhangmenutiecban] [int] NOT NULL,
	[id_danhmucphucvu] [int] NOT NULL, /* DanhMucPhucVuMenuTiecBanVaMenuBuffet */
	[tendanhmuc] [nvarchar](200) NOT NULL,
	[gia] [money] NOT NULL,
	[giatheosoban] bit NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaysuadoi] [datetime] NOT NULL,
	[apdungmenutiecban] bit NOT NULL,
	[apdungmenubuffet] bit NOT NULL,
 CONSTRAINT [PK_DonHangDanhMucPhucVuMenuTiecBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDonHangMenuTiecBan]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDonHangMenuTiecBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_donhangmenutiecban] [int] NOT NULL,
	[id_taikhoanbean] [int] NOT NULL,
	[tieude] [nvarchar](200) NULL,
	[noidung] [nvarchar](max) NULL,
	[thoigian] [datetime] NOT NULL,
 CONSTRAINT [PK_LichSuDonHangMenuTiecBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThanhToanDonHangMenuTiecBan]    Script Date: 10/05/2024 1:46:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThanhToanDonHangMenuTiecBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[madonhang] [nvarchar](200) NOT NULL, /* id + ssmmHH + ddMMyyyy */
	[id_donhangmenutiecban] [int] NOT NULL,
	[id_taikhoanbean] [int] NOT NULL,
	[sotien] [money] NOT NULL,
	[thoigian] [datetime] NOT NULL,
	[tieude] [nvarchar](200) NULL,
	[noidung] [nvarchar](max) NULL,
	[tenkhachhang] [nvarchar](200) NULL,
	[sdtkhachhang] [nvarchar](12) NULL,
 CONSTRAINT [PK_LichSuThanhToanDonHangMenuTiecBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


SET IDENTITY_INSERT [dbo].[ApDungChucNangChoQuyenTaiKhoan] ON 

INSERT [dbo].[ApDungChucNangChoQuyenTaiKhoan] ([id], [id_chucnanghethongbean], [id_quyentaikhoanbean], [chophepthem], [chophepsua], [chophepxoa]) VALUES (1, 1, 1, 1, 1, 1)
INSERT [dbo].[ApDungChucNangChoQuyenTaiKhoan] ([id], [id_chucnanghethongbean], [id_quyentaikhoanbean], [chophepthem], [chophepsua], [chophepxoa]) VALUES (2, 2, 1, 1, 1, 1)
INSERT [dbo].[ApDungChucNangChoQuyenTaiKhoan] ([id], [id_chucnanghethongbean], [id_quyentaikhoanbean], [chophepthem], [chophepsua], [chophepxoa]) VALUES (3, 3, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[ApDungChucNangChoQuyenTaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucNangHeThongBean] ON 

INSERT [dbo].[ChucNangHeThongBean] ([id], [tenchucnang], [hiethi], [ngaytao], [ngaysuadoi], [keycode]) VALUES (1, N'Menu Tiệc Bàn - Danh Mục Cấp 1', 1, CAST(N'2023-11-15T16:20:03.000' AS DateTime), CAST(N'2023-11-15T16:20:03.000' AS DateTime), N'mtb-dmc1')
INSERT [dbo].[ChucNangHeThongBean] ([id], [tenchucnang], [hiethi], [ngaytao], [ngaysuadoi], [keycode]) VALUES (2, N'Menu Tiệc Bàn - Quản Lý Món', 1, CAST(N'2023-11-15T16:20:03.000' AS DateTime), CAST(N'2023-11-15T16:20:03.000' AS DateTime), N'mtb-qlm')
INSERT [dbo].[ChucNangHeThongBean] ([id], [tenchucnang], [hiethi], [ngaytao], [ngaysuadoi], [keycode]) VALUES (3, N'Menu Buffet - Danh Mục Cấp 1', 1, CAST(N'2023-11-15T16:20:03.000' AS DateTime), CAST(N'2023-11-15T16:20:03.000' AS DateTime), N'mb-dmc1')
SET IDENTITY_INSERT [dbo].[ChucNangHeThongBean] OFF
GO
SET IDENTITY_INSERT [dbo].[QuyenTaiKhoanBean] ON 

INSERT [dbo].[QuyenTaiKhoanBean] ([id], [name], [ngaytao], [ngaysuadoi]) VALUES (1, N'Người Sở Hữu', CAST(N'2023-11-15T16:20:03.000' AS DateTime), CAST(N'2023-11-15T16:20:03.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuyenTaiKhoanBean] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanBean] ON 

INSERT [dbo].[TaiKhoanBean] ([id], [username], [password], [hovaten], [sodienthoai], [email], [ngaysinh], [gioitinh], [diachi], [id_quyentaikhoanbean], [chucdanh], [ngaythamgia], [ngaysuadoi], [khoataikhoan], [solansaimatkhautoida], [solandasaimatkhau], [hinhdaidien]) VALUES (1, N'admin', N'123', N'Adminstrator', N'', N'info@aendy.net', N'', N'', N'', 1, N'Quản trị hệ thống', CAST(N'2023-11-15T00:00:00.000' AS DateTime), CAST(N'2023-11-15T00:00:00.000' AS DateTime), 0, 5, 0, N'')
SET IDENTITY_INSERT [dbo].[TaiKhoanBean] OFF
GO
ALTER TABLE [dbo].[ApDungChucNangChoQuyenTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_ApDungChucNangChoQuyenTaiKhoan_ChucNangHeThongBean] FOREIGN KEY([id_chucnanghethongbean])
REFERENCES [dbo].[ChucNangHeThongBean] ([id])
GO
ALTER TABLE [dbo].[ApDungChucNangChoQuyenTaiKhoan] CHECK CONSTRAINT [FK_ApDungChucNangChoQuyenTaiKhoan_ChucNangHeThongBean]
GO
ALTER TABLE [dbo].[ApDungChucNangChoQuyenTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_ApDungChucNangChoQuyenTaiKhoan_QuyenTaiKhoanBean] FOREIGN KEY([id_quyentaikhoanbean])
REFERENCES [dbo].[QuyenTaiKhoanBean] ([id])
GO
ALTER TABLE [dbo].[ApDungChucNangChoQuyenTaiKhoan] CHECK CONSTRAINT [FK_ApDungChucNangChoQuyenTaiKhoan_QuyenTaiKhoanBean]
GO
ALTER TABLE [dbo].[SanPhamMenuBuffet]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamMenuBuffet_DanhMucMenuBuffetCap1] FOREIGN KEY([id_danhmucmenubuffetcap1])
REFERENCES [dbo].[DanhMucMenuBuffetCap1] ([id])
GO
ALTER TABLE [dbo].[SanPhamMenuBuffet] CHECK CONSTRAINT [FK_SanPhamMenuBuffet_DanhMucMenuBuffetCap1]
GO
ALTER TABLE [dbo].[SanPhamMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamMenuTiecBan_DanhMucMenuTiecBanCap1] FOREIGN KEY([id_danhmucmenutiecbancap1])
REFERENCES [dbo].[DanhMucMenuTiecBanCap1] ([id])
GO
ALTER TABLE [dbo].[SanPhamMenuTiecBan] CHECK CONSTRAINT [FK_SanPhamMenuTiecBan_DanhMucMenuTiecBanCap1]
GO
ALTER TABLE [dbo].[CacBuocQuyTrinhTrongCay]  WITH CHECK ADD  CONSTRAINT [FK_CacBuocQuyTrinhTrongCay_QuyTrinhTrongCay] FOREIGN KEY([id_quytrinhtrongcay])
REFERENCES [dbo].[QuyTrinhTrongCay] ([id])
GO
ALTER TABLE [dbo].[CacBuocQuyTrinhTrongCay] CHECK CONSTRAINT [FK_CacBuocQuyTrinhTrongCay_QuyTrinhTrongCay]
GO
ALTER TABLE [dbo].[ChiTietDonHangMuaSamVaMenuHangNgay]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangMuaSamVaMenuHangNgay_DonHangMuaSamVaMenuHangNgay] FOREIGN KEY([id_donhangmuasamvamenuhangngay])
REFERENCES [dbo].[DonHangMuaSamVaMenuHangNgay] ([id])
GO
ALTER TABLE [dbo].[ChiTietDonHangMuaSamVaMenuHangNgay] CHECK CONSTRAINT [FK_ChiTietDonHangMuaSamVaMenuHangNgay_DonHangMuaSamVaMenuHangNgay]
GO
ALTER TABLE [dbo].[ChiTietDonHangMuaSamVaMenuHangNgay]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangMuaSamVaMenuHangNgay_SanPhamMuaSam] FOREIGN KEY([id_sanphammuasam])
REFERENCES [dbo].[SanPhamMuaSam] ([id])
GO
ALTER TABLE [dbo].[ChiTietDonHangMuaSamVaMenuHangNgay] CHECK CONSTRAINT [FK_ChiTietDonHangMuaSamVaMenuHangNgay_SanPhamMuaSam]
GO
ALTER TABLE [dbo].[ChiTietDonHangMuaSamVaMenuHangNgay]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangMuaSamVaMenuHangNgay_SanPhamThucDonHangNgay] FOREIGN KEY([id_sanphamthucdonhangngay])
REFERENCES [dbo].[SanPhamThucDonHangNgay] ([id])
GO
ALTER TABLE [dbo].[ChiTietDonHangMuaSamVaMenuHangNgay] CHECK CONSTRAINT [FK_ChiTietDonHangMuaSamVaMenuHangNgay_SanPhamThucDonHangNgay]
GO
ALTER TABLE [dbo].[DonHangMuaSamVaMenuHangNgay]  WITH CHECK ADD  CONSTRAINT [FK_DonHangMuaSamVaMenuHangNgay_TaiKhoanKhachHang] FOREIGN KEY([id_taikhoankhkachhang])
REFERENCES [dbo].[TaiKhoanKhachHang] ([id])
GO
ALTER TABLE [dbo].[DonHangMuaSamVaMenuHangNgay] CHECK CONSTRAINT [FK_DonHangMuaSamVaMenuHangNgay_TaiKhoanKhachHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPhamMuaSam] FOREIGN KEY([id_sanphammuasam])
REFERENCES [dbo].[SanPhamMuaSam] ([id])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPhamMuaSam]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPhamRauNhaTrong] FOREIGN KEY([id_sanphamraunhatrong])
REFERENCES [dbo].[SanPhamRauNhaTrong] ([id])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPhamRauNhaTrong]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPhamThucDonHangNgay] FOREIGN KEY([id_sanphamthucdonhangngay])
REFERENCES [dbo].[SanPhamThucDonHangNgay] ([id])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPhamThucDonHangNgay]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_TaiKhoanKhachHang] FOREIGN KEY([id_taikhoankhachhang])
REFERENCES [dbo].[TaiKhoanKhachHang] ([id])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_TaiKhoanKhachHang]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMenuBuffet]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamMenuBuffet_SanPhamMenuBuffet] FOREIGN KEY([id_sanphammenubuffet])
REFERENCES [dbo].[SanPhamMenuBuffet] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMenuBuffet] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamMenuBuffet_SanPhamMenuBuffet]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMenuBuffet]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamMenuBuffet_TaiKhoanBean] FOREIGN KEY([id_taikhoanbean])
REFERENCES [dbo].[TaiKhoanBean] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMenuBuffet] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamMenuBuffet_TaiKhoanBean]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamMenuTiecBan_SanPhamMenuTiecBan] FOREIGN KEY([id_sanphammenutiecban])
REFERENCES [dbo].[SanPhamMenuTiecBan] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMenuTiecBan] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamMenuTiecBan_SanPhamMenuTiecBan]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamMenuTiecBan_TaiKhoanBean] FOREIGN KEY([id_taikhoanbean])
REFERENCES [dbo].[TaiKhoanBean] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMenuTiecBan] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamMenuTiecBan_TaiKhoanBean]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMuaSam]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamMuaSam_SanPhamMuaSam] FOREIGN KEY([id_sanphammuasam])
REFERENCES [dbo].[SanPhamMuaSam] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMuaSam] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamMuaSam_SanPhamMuaSam]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMuaSam]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamMuaSam_TaiKhoanBean] FOREIGN KEY([id_taikhoanbean])
REFERENCES [dbo].[TaiKhoanBean] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamMuaSam] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamMuaSam_TaiKhoanBean]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamRauNhaTrong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamRauNhaTrong_SanPhamRauNhaTrong] FOREIGN KEY([id_sanphamraunhatrong])
REFERENCES [dbo].[SanPhamRauNhaTrong] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamRauNhaTrong] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamRauNhaTrong_SanPhamRauNhaTrong]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamRauNhaTrong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamRauNhaTrong_TaiKhoanBean] FOREIGN KEY([id_taikhoanbean])
REFERENCES [dbo].[TaiKhoanBean] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamRauNhaTrong] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamRauNhaTrong_TaiKhoanBean]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamThucDonHangNgay]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamThucDonHangNgay_SanPhamThucDonHangNgay] FOREIGN KEY([id_sanphamthucdonhangngay])
REFERENCES [dbo].[SanPhamThucDonHangNgay] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamThucDonHangNgay] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamThucDonHangNgay_SanPhamThucDonHangNgay]
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamThucDonHangNgay]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSuaDoiSanPhamThucDonHangNgay_TaiKhoanBean] FOREIGN KEY([id_taikhoanbean])
REFERENCES [dbo].[TaiKhoanBean] ([id])
GO
ALTER TABLE [dbo].[LichSuSuaDoiSanPhamThucDonHangNgay] CHECK CONSTRAINT [FK_LichSuSuaDoiSanPhamThucDonHangNgay_TaiKhoanBean]
GO
ALTER TABLE [dbo].[MangXaHoi]  WITH CHECK ADD  CONSTRAINT [FK_MangXaHoi_TaiKhoanBean] FOREIGN KEY([id_taikhoanbean])
REFERENCES [dbo].[TaiKhoanBean] ([id])
GO
ALTER TABLE [dbo].[MangXaHoi] CHECK CONSTRAINT [FK_MangXaHoi_TaiKhoanBean]
GO
ALTER TABLE [dbo].[SanPhamMuaSam]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamMuaSam_DanhMucSanPhamMuaSamCap1] FOREIGN KEY([id_danhmucmuasamcap1])
REFERENCES [dbo].[DanhMucSanPhamMuaSamCap1] ([id])
GO
ALTER TABLE [dbo].[SanPhamMuaSam] CHECK CONSTRAINT [FK_SanPhamMuaSam_DanhMucSanPhamMuaSamCap1]
GO
ALTER TABLE [dbo].[SanPhamRauNhaTrong]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamRauNhaTrong_DanhMucSanPhamRauNhaTrongCap1] FOREIGN KEY([id_danhmucsanphamraunhatrongcap1])
REFERENCES [dbo].[DanhMucSanPhamRauNhaTrongCap1] ([id])
GO
ALTER TABLE [dbo].[SanPhamRauNhaTrong] CHECK CONSTRAINT [FK_SanPhamRauNhaTrong_DanhMucSanPhamRauNhaTrongCap1]
GO
ALTER TABLE [dbo].[SanPhamRauNhaTrong]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamRauNhaTrong_QuyTrinhTrongCay] FOREIGN KEY([id_quytrinhtrongcay])
REFERENCES [dbo].[QuyTrinhTrongCay] ([id])
GO
ALTER TABLE [dbo].[SanPhamRauNhaTrong] CHECK CONSTRAINT [FK_SanPhamRauNhaTrong_QuyTrinhTrongCay]
GO
ALTER TABLE [dbo].[SanPhamThucDonHangNgay]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamThucDonHangNgay_SanPhamThucDonHangNgay1] FOREIGN KEY([id_danhmucthucdonhangngaycap1])
REFERENCES [dbo].[DanhMucThucDocHangNgayCap1] ([id])
GO
ALTER TABLE [dbo].[SanPhamThucDonHangNgay] CHECK CONSTRAINT [FK_SanPhamThucDonHangNgay_SanPhamThucDonHangNgay1]
GO
ALTER TABLE [dbo].[TaiKhoanBean]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoanBean_QuyenTaiKhoanBean] FOREIGN KEY([id_quyentaikhoanbean])
REFERENCES [dbo].[QuyenTaiKhoanBean] ([id])
GO
ALTER TABLE [dbo].[TaiKhoanBean] CHECK CONSTRAINT [FK_TaiKhoanBean_QuyenTaiKhoanBean]
GO
ALTER TABLE [dbo].[TinhTrangDonHangMuaSamVaMenuHangNgay]  WITH CHECK ADD  CONSTRAINT [FK_TinhTrangDonHangMuaSamVaMenuHangNgay_DonHangMuaSamVaMenuHangNgay] FOREIGN KEY([id_donhangmuasamvathucdonhangngay])
REFERENCES [dbo].[DonHangMuaSamVaMenuHangNgay] ([id])
GO
ALTER TABLE [dbo].[TinhTrangDonHangMuaSamVaMenuHangNgay] CHECK CONSTRAINT [FK_TinhTrangDonHangMuaSamVaMenuHangNgay_DonHangMuaSamVaMenuHangNgay]
GO
ALTER TABLE [dbo].[TinhTrangDonHangMuaSamVaMenuHangNgay]  WITH CHECK ADD  CONSTRAINT [FK_TinhTrangDonHangMuaSamVaMenuHangNgay_TaiKhoanBean] FOREIGN KEY([id_taikhoanbean])
REFERENCES [dbo].[TaiKhoanBean] ([id])
GO
ALTER TABLE [dbo].[TinhTrangDonHangMuaSamVaMenuHangNgay] CHECK CONSTRAINT [FK_TinhTrangDonHangMuaSamVaMenuHangNgay_TaiKhoanBean]
GO
ALTER TABLE [dbo].[TonKhoSanPham]  WITH CHECK ADD  CONSTRAINT [FK_TonKhoSanPham_SanPhamMuaSam] FOREIGN KEY([id_sanphammuasam])
REFERENCES [dbo].[SanPhamMuaSam] ([id])
GO
ALTER TABLE [dbo].[TonKhoSanPham] CHECK CONSTRAINT [FK_TonKhoSanPham_SanPhamMuaSam]
GO
ALTER TABLE [dbo].[DonHangSanPhamMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_DonHangSanPhamMenuTiecBan_DonHangMenuTiecBan] FOREIGN KEY([id_donhangmenutiecban])
REFERENCES [dbo].[DonHangMenuTiecBan] ([id])
GO
ALTER TABLE [dbo].[DonHangSanPhamMenuTiecBan] CHECK CONSTRAINT [FK_DonHangSanPhamMenuTiecBan_DonHangMenuTiecBan]
GO
ALTER TABLE [dbo].[DonHangSanPhamMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_DonHangSanPhamMenuTiecBan_SanPhamMenuTiecBan] FOREIGN KEY([id_sanphammenutiecban])
REFERENCES [dbo].[SanPhamMenuTiecBan] ([id])
GO
ALTER TABLE [dbo].[DonHangSanPhamMenuTiecBan] CHECK CONSTRAINT [FK_DonHangSanPhamMenuTiecBan_SanPhamMenuTiecBan]
GO

ALTER TABLE [dbo].[DonHangDanhMucPhucVuMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_DonHangDanhMucPhucVuMenuTiecBan_DonHangMenuTiecBan] FOREIGN KEY([id_donhangmenutiecban])
REFERENCES [dbo].[DonHangMenuTiecBan] ([id])
GO
ALTER TABLE [dbo].[DonHangDanhMucPhucVuMenuTiecBan] CHECK CONSTRAINT [FK_DonHangDanhMucPhucVuMenuTiecBan_DonHangMenuTiecBan]
GO
ALTER TABLE [dbo].[DonHangDanhMucPhucVuMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_DonHangDanhMucPhucVuMenuTiecBan_DanhMucPhucVuMenuTiecBanVaMenuBuffet] FOREIGN KEY([id_danhmucphucvu])
REFERENCES [dbo].[DanhMucPhucVuMenuTiecBanVaMenuBuffet] ([id])
GO
ALTER TABLE [dbo].[DonHangDanhMucPhucVuMenuTiecBan] CHECK CONSTRAINT [FK_DonHangDanhMucPhucVuMenuTiecBan_DanhMucPhucVuMenuTiecBanVaMenuBuffet]
GO

ALTER TABLE [dbo].[LichSuDonHangMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDonHangMenuTiecBan_DonHangMenuTiecBan] FOREIGN KEY([id_donhangmenutiecban])
REFERENCES [dbo].[DonHangMenuTiecBan] ([id])
GO
ALTER TABLE [dbo].[LichSuDonHangMenuTiecBan] CHECK CONSTRAINT [FK_LichSuDonHangMenuTiecBan_DonHangMenuTiecBan]
GO
ALTER TABLE [dbo].[LichSuDonHangMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDonHangMenuTiecBan_TaiKhoanBean] FOREIGN KEY([id_taikhoanbean])
REFERENCES [dbo].[TaiKhoanBean] ([id]) 
GO
ALTER TABLE [dbo].[LichSuDonHangMenuTiecBan] CHECK CONSTRAINT [FK_LichSuDonHangMenuTiecBan_TaiKhoanBean]
GO

ALTER TABLE [dbo].[LichSuThanhToanDonHangMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuThanhToanDonHangMenuTiecBan_DonHangMenuTiecBan] FOREIGN KEY([id_donhangmenutiecban])
REFERENCES [dbo].[DonHangMenuTiecBan] ([id])
GO
ALTER TABLE [dbo].[LichSuThanhToanDonHangMenuTiecBan] CHECK CONSTRAINT [FK_LichSuThanhToanDonHangMenuTiecBan_DonHangMenuTiecBan]
GO
ALTER TABLE [dbo].[LichSuThanhToanDonHangMenuTiecBan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuThanhToanDonHangMenuTiecBan_TaiKhoanBean] FOREIGN KEY([id_taikhoanbean])
REFERENCES [dbo].[TaiKhoanBean] ([id]) 
GO
ALTER TABLE [dbo].[LichSuThanhToanDonHangMenuTiecBan] CHECK CONSTRAINT [FK_LichSuThanhToanDonHangMenuTiecBan_TaiKhoanBean]
GO