@model Beanfamily.Models.SanPhamThucDonHangNgay
@{
    Layout = null;
    var lstImage = string.IsNullOrEmpty(Model.hinhanh) ? null : Model.hinhanh.Split('#').ToList();
    string video = string.IsNullOrEmpty(Model.video) ? "" : Model.video;
}

<div id="XemHinhAnhMonModalPartial" class="modal-body">
    <h5 class="text-center mb-4 text-bg-primary text-white" style="border-radius: 16px; height: 30px; display: flex; flex-direction: column; justify-content: center;">HÌNH ẢNH SẢN PHẨM</h5>

    <section class="gallery">
        <div class="container">
            <div class="grid row">
                <div class="col-img-3">
                    @if (!string.IsNullOrEmpty(video))
                    {
                        <div style="border-radius: 16px; " class="img-item-show">
                            <video style="width: 100%; height: auto; border-radius: 16px; " autoplay src="@Url.Content(video)"></video>
                        </div>
                    }

                    @foreach (var item in lstImage)
                    {
                        <div style="border-radius: 16px; " class="img-item-show">
                            <img data-src="@Url.Content(item)" style="width: 100%; height: auto; border-radius: 16px; " src="@Url.Content(item)" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>