@{
    ViewBag.Title = "Đăng Nhập";
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Beanfamily.vn nhà hàng chay ngon bình dương, vườn rau nhà trồng đảm bảo an toàn sức khỏe, cửa hàng tiện lợi.">
    <meta name="robots" content="noindex" />
    <meta name="keywords" content="beanfamily, beanfamily.vn, nhà hàng chay bình dương, nhà hàng chay, rau, vườn rau, bean, family">

    <!-- Favicons -->
    <link href="~/Content/assets/images/logo/logo-2745.png" rel="icon">
    <link href="~/Content/AdminAreas/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/AdminAreas/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/AdminAreas/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-4">
                                        <div class="text-center">
                                            <img style="max-height: 50px" src="~/Content/assets/images/logo/logo-2745.png" alt="">
                                        </div>

                                        <h5 class="card-title text-center pb-0 fs-4">Đăng Nhập Hệ Thống</h5>
                                        <p class="text-center small">Lưu ý: Đăng nhập <span class="text-danger">sai quá 5 lần</span> hệ thống sẽ <span class="text-danger"> tạm khóa tài khoản</span> của bạn. Mọi vấn đề về tài khoản vui lòng liên hệ quản trị viên hệ thống để được hỗ trợ.</p>

                                    </div>

                                    <div class="row g-3 needs-validation" novalidate>

                                        <div class="col-12">
                                            <div class="input-group">
                                                <!-- valid-was-validated -->
                                                <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-person"></i></span>
                                                <input type="text" name="username" class="form-control" id="yourUsername" placeholder="Tên đăng nhập hoặc Email" required>
                                                <div id="invalid-username-feedback" class="invalid-feedback"></div>
                                            </div>
                                        </div>

                                        <div class="col-12 pb-4">
                                            <div class="input-group">
                                                <span class="input-group-text" id="inputGroupPrepend">
                                                    <i class="bi bi-key"></i>
                                                </span>
                                                <input type="password" name="username" class="form-control" id="yourPassword" placeholder="Mật khẩu đăng nhập" required>
                                                <div id="invalid-password-feedback" class="invalid-feedback"></div>
                                            </div>
                                        </div>

                                        <div class="col-12 pb-3">
                                            <button class="btn btn-primary w-100" id="loginsubmit">Đăng nhập</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </main><!-- End #main -->
    <input hidden id="requestPath" value="@Url.Content("~")" />
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/Content/AdminAreas/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Content/AdminAreas/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/AdminAreas/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/Content/AdminAreas/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/Content/AdminAreas/assets/vendor/quill/quill.min.js"></script>
    <script src="~/Content/AdminAreas/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Content/AdminAreas/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Content/AdminAreas/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/AdminAreas/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Validation/Login/login.js"></script>
</body>
</html>
