@using Beanfamily.Models
@{
    TaiKhoanKhachHang tkkh = Session["user-data"] as TaiKhoanKhachHang;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Title Page -->
<section style="background-repeat: no-repeat; background-position: center 0; background-size: cover; background-image: url(/Content/assets/images/backgroud.png);">
    <div class="flex-c-m" style="background-image: linear-gradient(180deg, #00000000 0%, #122E26 100%); width: 100%; min-height: 545px; padding-left: 15px; padding-right: 15px; background-repeat: no-repeat; background-position: center 0; background-size: cover; ">
        <div>
            <h2 class="tit6 t-center">
                TIẾN HÀNH ĐẶT HÀNG
            </h2>
            <h6 class="t-center text-white mt-2">
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "home")">TRANG CHỦ</a>
                <label class="ms-2 me-2">/</label>
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "dathang")">GIỎ HÀNG</a>
                <label class="ms-2 me-2">/</label>
                <a>TIẾN HÀNH ĐẶT HÀNG</a>
            </h6>
        </div>
    </div>
</section>

<section class="section-ourmenu bg1-pattern">
    <div class="section-child-bg1">
        <div class="container p-t-30 p-b-40">
            <div class="row">
                <div class="col-md-6 col-md-12">
                    
                </div>
                <div class="col-md-6 col-md-12">

                </div>
            </div>
        </div>
    </div>
</section>
