
@{
    ViewBag.Title = "Nhà hàng";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>

    :root {
        --d: 700ms;
        --e: cubic-bezier(0.19, 1, 0.22, 1);
        --font-sans: "Rubik", sans-serif;
        --font-serif: "Cardo", serif;
    }

    * {
        box-sizing: border-box;
    }

    .page-content {
        display: grid;
        grid-gap: 1rem;
        padding: 1rem;
        max-width: 1024px;
        margin: 0 auto;
        font-family: var(--font-sans);
    }

    @@media (min-width: 600px) {
        .page-content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @@media (min-width: 800px) {
        .page-content {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .card {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 1rem;
        width: 100%;
        height: 100%;
        text-align: center;
        color: whitesmoke;
        background-color: whitesmoke;
        border-radius: 26px !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }

    @@media (min-width: 600px) {
        .card {
            height: 100%;
        }
    }

    .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background-size: cover;
        background-position: 0 0;
        transition: transform calc(var(--d) * 1.5) var(--e);
        pointer-events: none;
    }

    .card:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(21, 53, 44, 0) 0%, rgba(21, 53, 44, 0.009) 11.7%, rgba(21, 53, 44, 0.034) 22.1%, rgba(21, 53, 44, 0.072) 31.2%, rgba(21, 53, 44, 0.123) 39.4%, rgba(21, 53, 44, 0.182) 46.6%, rgba(21, 53, 44, 0.249) 53.1%, rgba(21, 53, 44, 0.32) 58.9%, rgba(21, 53, 44, 0.394) 64.3%, rgba(21, 53, 44, 0.468) 69.3%, rgba(21, 53, 44, 0.54) 74.1%, rgba(21, 53, 44, 0.607) 78.8%, rgba(21, 53, 44, 0.668) 83.6%, rgba(21, 53, 44, 0.721) 88.7%, rgba(21, 53, 44, 0.862) 94.1%, rgba(21, 53, 44, 1) 100%);
        transform: translateY(-50%);
        transition: transform calc(var(--d) * 2) var(--e);
    }

    .content {
        position: relative;
        width: 100%;
        height: 200px;
        padding: 1rem;
        transition: transform var(--d) var(--e);
        z-index: 1;
        top: 70px;
    }

        .content > * + * {
            margin-top: 1rem;
        }

    .title {
        font-size: 2.3rem;
        font-weight: bold;
        line-height: 1.2;
        color: #fff;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 1), 0px 0px 18px rgba(21, 53, 44, 1), 0px 0px 25px rgba(21, 53, 44, .5);
    }

    .copy {
        font-family: var(--font-serif);
        font-size: 1.125rem;
        font-style: italic;
        line-height: 1.35;
        color: #fff;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 1), 0px 0px 18px rgba(21, 53, 44, 1), 0px 0px 25px rgba(21, 53, 44, .5);
    }

    @@media (hover: hover) and (min-width: 600px) {
        .card:after {
            transform: translateY(0);
        }

        .content {
            transform: translateY(calc(40%));
            top: 60px;
        }

            .content > *:not(.title) {
                opacity: 0;
                transform: translateY(1rem);
                transition: transform var(--d) var(--e), opacity var(--d) var(--e);
            }

        .card:hover, .card:focus-within {
            align-items: center;
        }

            .card:hover:before, .card:focus-within:before {
                transform: translateY(-4%);
            }

            .card:hover:after, .card:focus-within:after {
                transform: translateY(-50%);
            }

            .card:hover .content, .card:focus-within .content {
                transform: translateY(0);
            }

                .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: calc(var(--d) / 8);
                }

                .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
                    transition-duration: 0s;
                }
    }
</style>

<!-- Title Page -->
<section style="background-repeat: no-repeat; background-position: center 0; background-size: cover; background-image: url(/Content/assets/images/backgroud.png);">
    <div class="flex-c-m" style="background-image: linear-gradient(180deg, #000000ad 40%, #000000d6 100%); width: 100%; min-height: 545px; padding-left: 15px; padding-right: 15px; background-repeat: no-repeat; background-position: center 0; background-size: cover; ">
        <div>
            <h2 class="tit6 t-center">
                Nhà Hàng
            </h2>
        </div>
    </div>
</section>
<section class="section-ourmenu bg1-pattern">
    <div class="section-child-bg1">
        <div class="container p-t-60 p-b-40">
            <div class="row">
                <div class="col-md-4 col-sm-12" style=" height: 460px; padding-right: 20px; padding-left: 20px; margin-bottom: 20px">
                    <div style="background-image: url('/content/assets/images/beans/danhmucnhahang/menuhangngay.jpg'); background-position-x: center; background-position-y: center; background-repeat: no-repeat; background-size: auto 109%; border: 1px solid #ffc687;" class="card">
                        <div class="content">
                            <h2 class="title">MENU</h2>
                            <h2 class="title">HẰNG NGÀY</h2>
                            <p class="copy">Phục vụ cho các bữa ăn hàng ngày hay thực đơn cơm gia đình.</p>
                            <div style="width: 100%" class="d-flex flex-c mt-4">
                                <a href="@Url.Action("index", "thucdonhangngay")" class="btn1 flex-c-m size1 txt3 trans-0-4">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12" style=" height: 460px; padding-right: 20px; padding-left: 20px; margin-bottom: 20px">
                    <div style="background-image: url('/content/assets/images/beans/danhmucnhahang/menutiecban.jpg'); background-position-x: center; background-position-y: center; background-repeat: no-repeat; background-size: 210% auto; border: 1px solid #ffc687;" class="card">
                        <div class="content">
                            <h2 class="title">MENU</h2>
                            <h2 class="title">TIỆC BÀN</h2>
                            <p class="copy">Phục vụ các món ăn ngay trên bàn tiệc tại nhà hàng.</p>
                            <div style="width: 100%" class="d-flex flex-c mt-4">
                                <a href="@Url.Action("index", "menutiecban")" class="btn1 flex-c-m size1 txt3 trans-0-4">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12" style=" height: 460px; padding-right: 20px; padding-left: 20px;">
                    <div style="background-image: url('/content/assets/images/beans/danhmucnhahang/menubuffet.jpg'); background-position-x: center; background-position-y: center; background-repeat: no-repeat; background-size: auto 100%; border: 1px solid #ffc687;" class="card">
                        <div class="content">
                            <h2 class="title">MENU</h2>
                            <h2 class="title">BUFFET</h2>
                            <p class="copy">Phục vụ lựa chọn những món ăn hiện có theo sở thích của mình.</p>
                            <div style="width: 100%" class="d-flex flex-c mt-4">
                                <a href="@Url.Action("index", "menubuffet")" class="btn1 flex-c-m size1 txt3 trans-0-4">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
<script src="~/ActionOnPage/NhaHang/loadPageNhaHang.js"></script>
