@model IEnumerable<Beanfamily.Models.NoiDungSEO>
@{
    string Title = "";
    string Keyword = "";
    string Desc = "";
    if (Model.Count() > 0)
    {
        var seopage = Model.First();
        Title = seopage.SEOtitle;
        Keyword = seopage.SEOkeyword;
        Desc = seopage.SEOdescription;
    }

    ViewBag.Title = "Quản Lý SEO Page";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-12 col-12">
            <h1>Quản Lý SEO Page</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Bảng Điều Khiển</a></li>
                    <li class="breadcrumb-item active">Quản Lý SEO Page</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row ms-2 me-2 mb-4 mt-4">
                        <label for="title" class="col-12 col-form-label"><span>Title Tag <small class="text-secondary"><i>(chỉ áp dụng trên trang chủ để chạy Ads)</i></small></span></label>
                        <div class="col-12">
                            <input style="border: 2px solid var(--bs-primary) !important" value="@Title" id="title" type="text" spellcheck="false"  placeholder="Nhập nội dung tiêu đề trên tab trình duyệt..." class="form-control">
                        </div>
                    </div>
                    <hr />
                    <div class="row  ms-2 me-2 mb-4 ">
                        <label for="keyword" class="col-12 col-form-label"><span>Meta Keyword Tag <small class="text-secondary"><i>(từ khóa để tiếp cận tìm kiếm trên Google, tối đa <span class="text-danger fw-bold">10 keyword</span>)</i></small></span></label>
                        <div class="col-12">
                            <textarea type="text" spellcheck="false"  style="border: 2px solid var(--bs-primary) !important" id="keyword" class="form-control" rows="6" placeholder="Keyword Một, keyword Hai, ...">@Keyword</textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row  ms-2 me-2 mb-4 ">
                        <label for="desc" class="col-12 col-form-label"><span>Meta Description <small class="text-secondary"><i>(một đoạn mô tả hoặc giới thiệu, tối đa <span class="text-danger fw-bold">300 ký tự</span>)</i></small></span></label>
                        <div class="col-12">
                            <textarea type="text" spellcheck="false"  maxlength="300" style="border: 2px solid var(--bs-primary) !important" id="desc" class="form-control" rows="6" placeholder="Mô tả / giới thiệu về website nhà hàng...">@Desc</textarea>
                        </div>
                    </div>
                    <div class="row ms-2 me-2 mb-3" style="display: flex; justify-content: end;">
                        <button style="width: 200px; height: 40px; margin-right: .5rem;" id="btnLuuThongTin" type="button" class="btn btn-primary mt-2">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Validation/SEOPageConfig/Update.js?v=1.0"></script>